---
title: Автори
---

<%= partial "partials/styleguide/modal-box" %>
<%= partial "partials/shared/notifications" %>

<div class="site-content">

  <%= partial "partials/shared/header-log-in" %>

  <main id="content">
    <div class="content-body">

      <%= partial "partials/homepage/filters" %>

      <section class="container mt-20">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="row">
              <div class="col-12 col-md-4">
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
              </div>
              <div class="col-12 col-md-4">
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
              </div>
              <div class="col-12 col-md-4">
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
                <%= partial "partials/shared/author" %>
              </div>
              <div class="col-12 d-flex">
                <button type="button" class="btn btn-outline mt-10 mb-50 mx-auto"><span>Показати ще...</span></button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <%= partial "partials/shared/footer" %>

</div>
